@model ConfigViewModel
@{
    ViewData["Title"] = "Configuration";
}

<h2>Configuration</h2>
<h3>Store Config in Browser</h3>
<hr />
<h5 class="alert-danger">@ViewData["ErrorMessage"]</h5>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div class="form-group">
                <table>

                    <tr><td colspan="2"><h4>Agenda Configuration</h4></td></tr>

                    <tr>
                        <td><label for="@Model.MeetingDateFormat">Meeting Date Format:</label></td>
                        <td><input asp-for="@Model.MeetingDateFormat" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.AgendaTimeFormat">Meeting Time Format:</label></td>
                        <td><input asp-for="@Model.MeetingTimeFormat" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.AgendaTimeFormat">Agenda Time Format:</label></td>
                        <td><input asp-for="@Model.AgendaTimeFormat" /></td>
                    </tr>

                    <tr><td colspan="2">&nbsp;</td></tr>

                    <tr>
                        <td><label for="@Model.PresidingOfficerIntroMinutes">Presiding Officer Intro Minutes:</label></td>
                        <td><input asp-for="@Model.PresidingOfficerIntroMinutes" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.ToastmasterIntroMinutes">Toastmaster Intro Minutes:</label></td>
                        <td><input asp-for="@Model.ToastmasterIntroMinutes" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.EvaluationTimeMinutes">Evaluation Minutes:</label></td>
                        <td><input asp-for="@Model.EvaluationTimeMinutes" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.FunctionaryReportMinutes">Functionary Report Minutes:</label></td>
                        <td><input asp-for="@Model.FunctionaryReportMinutes" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.ListenerMinutes">Listener Minutes:</label></td>
                        <td><input asp-for="@Model.ListenerMinutes" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.MentorMinutes">Mentor Minutes:</label></td>
                        <td><input asp-for="@Model.MentorMinutes" /></td>
                    </tr>

                    <tr><td colspan="2">&nbsp;</td></tr>

                    <tr>
                        <td><label for="@Model.MinClubBusinessMinutes">Min Club Business Minutes:</label></td>
                        <td><input asp-for="@Model.MinClubBusinessMinutes" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.MinTableTopicsMinutes">Min Table Topics Minutes:</label></td>
                        <td><input asp-for="@Model.MinTableTopicsMinutes" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.MaxTableTopicsMinutes">Max Table Topics Minutes:</label></td>
                        <td><input asp-for="@Model.MaxTableTopicsMinutes" /></td>
                    </tr>

                    <tr><td colspan="2"><h4>Club Configuration</h4></td></tr>

                    <tr>
                        <td><label for="@Model.ClubName">Club Name:</label></td>
                        <td><input asp-for="@Model.ClubName" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.ClubNumber">Club Number:</label></td>
                        <td><input asp-for="@Model.ClubNumber" /></td>
                    </tr>

                    <tr><td colspan="2">&nbsp;</td></tr>

                    <tr>
                        <td><label for="@Model.MeetingDayOfWeek">Meeting Day of Week:</label></td>
                        <td><input asp-for="@Model.MeetingDayOfWeek" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.MeetingStartTime">Meeting Start Time:</label></td>
                        <td><input asp-for="@Model.MeetingStartTime" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.MeetingLengthMinutes">Meeting Length Minutes:</label></td>
                        <td><input asp-for="@Model.MeetingLengthMinutes" /></td>
                    </tr>

                    <tr><td colspan="2">&nbsp;</td></tr>

                    <tr>
                        <td><label for="@Model.MeetingMessage">Meeting Message:</label></td>
                        <td><input asp-for="@Model.MeetingMessage" /></td>
                    </tr>

                    <tr><td colspan="2">&nbsp;</td></tr>

                    <tr>
                        <td><label for="@Model.WebsiteUrl">Website Url:</label></td>
                        <td><input asp-for="@Model.WebsiteUrl" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.EmailAddress">Club Email:</label></td>
                        <td><input asp-for="@Model.EmailAddress" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.SlackChannel">Club Slack Channel:</label></td>
                        <td><input asp-for="@Model.SlackChannel" /></td>
                    </tr>

                    <tr><td colspan="2">&nbsp;</td></tr>

                    <tr>
                        <td><label for="@Model.MissionStatement">Club Mission:</label></td>
                        <td><textarea rows="10" asp-for="@Model.MissionStatement"></textarea></td>
                    </tr>

                    <tr><td colspan="2">&nbsp;</td></tr>

                    <tr>
                        <td><label for="@Model.PresidentName">Club President:</label></td>
                        <td><input asp-for="@Model.PresidentName" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.VPEducationName">VP Education:</label></td>
                        <td><input asp-for="@Model.VPEducationName" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.VPMembershipName">VP Membership:</label></td>
                        <td><input asp-for="@Model.VPMembershipName" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.VPPublicRelationsName">VP Public Relations:</label></td>
                        <td><input asp-for="@Model.VPPublicRelationsName" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.SecretaryName">Club Secretary:</label></td>
                        <td><input asp-for="@Model.SecretaryName" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.TreasurerName">Club Treasurer:</label></td>
                        <td><input asp-for="@Model.TreasurerName" /></td>
                    </tr>

                    <tr>
                        <td><label for="@Model.SeargeantAtArmsName">Seargeant-at-Arms:</label></td>
                        <td><input asp-for="@Model.SeargeantAtArmsName" /></td>
                    </tr>

                </table>

                <div><input type="submit" value="Update" class="btn btn-default" /></div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <h4>Configuration File</h4>
                <div><textarea name="config" cols="80" rows="40">@ViewData["ConfigJson"]</textarea></div>
                <div><input type="submit" value="Store" class="btn btn-default" /></div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Agenda" asp-action="Index">Back to Agenda</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
